<html>
<body>
<div>Entry was successfully deleted.</div>
<%= link_to 'Back', addressbooks_path %>
<!--
<div>
  <%= form_tag :action => "delete_entry" do%>
      <table border='0' cellspacing='0' cellpadding='5'>
        <tr>
          <caption>
            Delete Entry
          </caption>
        </tr>

        <tr>
          <td>First Name*</td>
          <td><%= text_field_tag(:gn) %></td>
        </tr>
        <tr>
        <td>Last Name*</td>
        <td><%= text_field_tag(:sn) %></td>
      </tr>
      <tr>
        <td><input type="submit" value="Submit"></td>
      </tr>

      </table>
  <% end %>
</div>
-->
</body>
</html>